<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <title>Dashboard</title>

</head>
<body>
    <!-- navbar starts here -->
    <div class="nav-bar">        
        <img class="logo" src="/images/intellisight1.png" />
        <div class="nav">
            <div class="dashboard">
                <i  class="fa-solid fa-house-user icon"></i>
                <a href="/dashboard" class="active" > Dashboard </a>
            </div>
            <div class="students">
                <i class="fa-solid fa-user-group icon"></i>
                <a href="/students"> Students </a>
            </div>
            <div class="teachers">
                <i class="fa-solid fa-graduation-cap icon"></i>
                <a href="/teachers"> Teachers </a>
            </div>
            <div class="zones">
                <i class="fa-solid fa-location-dot icon"></i>
                <a href="/zones">   Zones </a>
            </div>
            <div class="logs">
                <i class="fa-solid fa-bars icon"></i>
                <a href="/logs"> Logs </a>
            </div>      
        </div>
                    <!-- bottom group in sidebar -->
        <div class="nav-footer">
            <div class="setting">
                <a href="#"><i class="fa-solid fa-gear"></i> Settings</a>
            </div>

            <div class="logout">                
                <a href="/login"><i class="fa-solid fa-arrow-right-from-bracket icon"></i> Log out  </a>               
            </div>
        </div>
    </div>
    <!-- navbar ends here -->

    <!-- main content of dashboard -->
    <div class="right">
        <div class="top-bar">
            <h1> Dashboard </h1>
            <div class="notification">
                <i class="fa-solid fa-bell"></i>
                <span class="badge">3</span>
            </div>
        </div>
        <div class="cards">
            <!-- students in department -->
            <div class="card">
                <div class="card-info">
                    <div class="number">
                        <p>0</p>
                    </div>
                    <div class="name">
                        <p>Students in Department</p>
                    </div>
                </div>
                <div class="icons">
                <i class="fa-solid fa-user-group"></i>
                </div>
            </div>

            <!-- teachers in department -->
            <div class="card">
                <div class="card-info">
                    <div class="number">
                        <p>0</p>
                    </div>
                    <div class="name">
                        <p>Teachers in Department</p>
                    </div>
                </div>
                <div class="icons">
                <i class="fa-solid fa-graduation-cap icon"></i>
                </div>
            </div>
            <!-- unidentified person in department -->
            <div class="card">
                <div class="card-info">
                    <div class="number">
                        <p>0</p>
                    </div>
                    <div class="name">
                        <p>Unidentified Person</p>
                    </div>
                </div>
                <div class="icons">
                <i class="fa-solid fa-user-xmark"></i>
                </div>
            </div>
            <!-- active zones -->
            <div class="card">
                <div class="card-info">
                    <div class="number">
                        <p>0</p>
                    </div>
                    <div class="name">
                        <p>Active zones</p>
                    </div>
                </div>
                <div class="icons">
                <i class="fa-solid fa-location-dot icon"></i>
                </div>
            </div>
        </div>
        <div class="below">
        <div class="recent-activity">
            <h2>Recent Activity</h2>
            <div class="table-wrap">
            <table>
                <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Zone</th>
                    <th>Entry Time</th>
                    <th>Exit Time</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>zainab moazzam</td>
                    <td>Lab 1</td>
                    <td>09:00 AM</td>
                    <td>10:30 AM</td>
                </tr>
                <tr>
                    <td>abdullah ozair</td>
                    <td>Library</td>
                    <td>09:15 AM</td>
                    <td>11:00 AM</td>
                </tr>
                <tr>
                    <td>zeeshan haider</td>
                    <td>Classroom 3</td>
                    <td>10:00 AM</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>student 4</td>
                    <td>Lab 2</td>
                    <td>10:30 AM</td>
                    <td>--</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="zone-overview">
        <h2>Zone Overview</h2>
        <table class="z-overview">
            <thead>
            <tr>
                <th> Zone Name </th>
                <th> Active Students </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td> Zone 1 </td>
                <td> 3 </td>
            </tr>
            <tr>
                <td> Zone 2 </td>
                <td> 4 </td>
            </tr>
            <tr>
                <td> Zone 3 </td>
                <td> 5 </td>
            </tr>
            <tr>
                <td> Zone 4 </td>
                <td> 6</td>
            </tr>
            </tbody>
        </table>
        </div>
        </div>
        <div class="graph-buttons">
        <div class="graph">
            <h2>Peak Hours </h2>
            <p> graph will show here</p>
        </div>
        <div class="actions">
            <div class="row">
            <button> Add Persons </button>
            <button> Add Zones </button>
            </div>
            <div class="chk-unknown">
            <button> Check Unidentified persons </button>
            </div>
            <div class="gen-rep">
            <button> Generate Report </button>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
