<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <title>Login</title>
</head>
<body>
  <div class="container">
    <div class="left">
      <form id="loginForm">
        <div class="email-block">
          <i class="fa-solid fa-envelope icon"></i>
          <input type="email" id="email" placeholder="Enter your email" name="email" required>
        </div>

        <div class="password-block">
          <i class="fa-solid fa-key icon"></i>
          <input type="password" id="password" placeholder="Enter your password" name="password" required>
          <i class="fa-solid fa-eye toggle-eye" id="togglePassword"></i>
        </div>

        <button type="submit" class="btn-login">LOGIN</button>
      </form>

      <div class="ank">
        <a href="/signup">Don't Have an account?</a>
        <a href="/forgotpassword">Forgot Password?</a>
      </div>
    </div>

    <div class="right">
      <h1>LOGIN</h1>
      <img class="logo" src="/images/logoIS.png">
    </div>
  </div>

  <script>
    document.getElementById("loginForm").addEventListener("submit", async (e) => {
      e.preventDefault();

      const email = document.getElementById("email").value;
      const password = document.getElementById("password").value;

      try {
        const res = await fetch("/login", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ email, password })
        });

        const data = await res.json();

        if (res.ok) {
          // Store tokens in localStorage
          localStorage.setItem("accessToken", data.accessToken);
          localStorage.setItem("refreshToken", data.refreshToken);

          // redirect to dashboard
          window.location.href = "/dashboard";
        } else {
          alert(data.error || "Login failed");
        }
      } catch (err) {
        console.error("Error logging in:", err);
        alert("Something went wrong.");
      }
    });
    // Toggle password visibility
    const togglePassword = document.getElementById("togglePassword");
    const passwordInput = document.getElementById("password");

    togglePassword.addEventListener("click", () => {
      if (passwordInput.type === "password") {
        passwordInput.type = "text"; // show password
        togglePassword.classList.remove("fa-eye");
        togglePassword.classList.add("fa-eye-slash");
      } else {
        passwordInput.type = "password"; // hide password
        togglePassword.classList.remove("fa-eye-slash");
        togglePassword.classList.add("fa-eye");
      }
    });
  </script>
</body>
</html>
