*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body,html{
    height: 100%;
}
.container{
    display: flex;
    height: 100vh;
}
.left{
    flex: 1;
    align-content:center;
    background-color: #FAF7F2;
    padding-left: 150px;
    
}
.right{
    flex: 1;
    background-color: #1B3C53;
    
}

.right h1{
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px;
    padding-left: 75px;
    padding-top: 150px;

}
.right .logo {
    width: 700px;
    margin-top: -130px;
    margin-bottom: -150px;
}

.password-block{
    position: relative;
    width: 300px;
}
.cpassword-block{
    position: relative;
    width: 300px;
}
.left p{
    margin-top: 20px;
    color: #757575;
    font-size: 15px;
    margin-top: 50px;
    letter-spacing:1.1px;
}
.left input{
    width: 450px;
    height: 70px;
    padding-left: 80px;
    padding-right: 30px;
    background-color: #D9D9D9;
    box-shadow: 1px 2px 1px rgb(116, 116, 116);
    margin-top: 25px;
    border: 1px solid #eee;
    border-radius: 50px;
    outline: none;
    font-size: 20px;
    transition: 0.3s;
}
.left .ank{
    margin-top: 40px;
    margin-left: -20px;
    word-spacing: 2px;
    display: flex;
    gap: 220px;
}
.left .ank a{
    color: #456882;
    text-decoration: none;
}

.left input:focus{
    background-color: white;
}
.left input::placeholder {
    color: #1B3C53;
    font-size: 20px;
    /* transition: opacity 0.3s ease; */
}

.left input:focus::placeholder {
    opacity: 0;
}

.toggle-eye {
    position: absolute;
    top: 50%;
    left: 400px;
    font-size: 24px;
    color: #1b3c53a9;
    cursor: pointer;
}

.left .icon {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-5%);
    font-size: 30px;
    color: #1B3C53;
    }

.left button{
    background-color: #1B3C53;
    color: white;
    width: 450px;
    height: 60px;
    margin-top: 40px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3 ease;
    letter-spacing: 2.5px;
    border: none;
}
button:hover {
    background-color: #456882;
}
.left .ank a:hover{
    text-decoration: underline;
}